@media (max-width: 768px) {
  .pg1 {
    height: 55%;
  }
  .pg2 {
    height: 100%;
  }
  .mid {
    /* background-color: coral; */
  }
  .bomi img {
    width: auto;
    height: 30vh;
    position: relative;
    left: 0%;
    top: 10%;
  }
  .chunbae img {
    width: auto;
    height: 40vh;
    top: 0%;
    right: 0%;
  }

  .main1 {
    /* background-color: coral; */
    width: 80%;
  }
  .title1 {
    /* margin-top: 10px; */
    height: 20%;
  }
  .sub_title1 {
    height: 6%;
  }
  .description1 {
    height: 4%;
  }
  .date1 {
    height: 4%;
  }
  .youtube {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    height: 40%;
    max-height: 180px;
  }
  .dog img {
    height: 7vh;
    top: 50%;
  }
  .cat img {
    height: 7vh;
    top: 50%;
    right: 150px;
  }
  .pre_order_gift {
    height: 120px;
    margin-bottom: 0px;
  }
  .btn1 {
    margin-top: -5px;
    height: 120px;
  }
  .btn img {
    width: 100px;
    height: auto;
    position: relative;
    top: 50px;
  }
  .ios img {
    right: 5px;
  }
  .sub_title2 {
    width: 100%;
    height: 5%;
    margin-top: 0px;
  }
  .description2 {
    height: 3%;
  }
  .date2 {
    height: 3%;
  }
  .event {
    height: 30%;
  }
  .official_cafe_btn {
    height: 30px;
  }
  p {
    font-size: x-small;
  }
}
