.main1 {
  width: 800px;
  height: 97.5%;
  position: absolute;
  top: 2.5%;
}

.common_main {
  width: 100%;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.title1 {
  height: 200px;
  background-image: url(../img/page1/logo.png);
}

.sub_title1 {
  height: 55px;
  background-image: url(../img/page1/main1-1.png);
}
.description1 {
  height: 35px;
  background-image: url(../img/page1/main1-2.png);
}
.date1 {
  height: 40px;
  background-image: url(../img/page1/main1-3.png);
}

.youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율인 경우. 4:3 비율인 경우 75%로 설정합니다 */
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pre_order_gift {
  height: 250px;
  background-image: url(../img/page1/item.png);
}
.btn1 {
  height: 250px;
  background-image: url(../img/page1/btns.png);
}

.btn {
  text-decoration: none;
}
.btn img {
  width: 250px;
  height: auto;
  margin: 20px 45px 0 45px;
}

.sub_title2 {
  height: 55px;
  background-image: url(../img/page2/main2-1.png);
  margin-top: 100px;
}
.description2 {
  height: 35px;
  background-image: url(../img/page2/main2-2.png);
}
.date2 {
  height: 40px;
  background-image: url(../img/page2/main2-3.png);
}

.event {
  width: 100%;

  height: 500px;
  display: flex;
}
.guages {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.goals {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guage {
  width: 20%;
  height: 100%;

  background-image: url(../img/page2/step0.png);
  background-size: fill;
  background-position: center;
  margin: 0px;
}
.steps {
  width: 25%;
  height: 100%;

  display: block;
}
.common_step {
  height: 32%;
  background-position: center;
  margin: 0px;
}

.step1 {
  background-image: url(../img/page2/-1.png);
}

.common_goal {
  height: 32%;
  background-position: 10% center;
}

.goal1 {
  background-image: url(../img/page2/3000명.png);
}
.goal2 {
  background-image: url(../img/page2/2000명.png);
}
.goal3 {
  background-image: url(../img/page2/1000명.png);
}

.official_cafe_btn img {
  height: 100px;
  margin-top: 20px;
  background-image: url(../img/page2/shirtcut.png);
  margin-bottom: 20px;
}

.cute_chunbae {
  width: 100px;
  height: 100px;
  background-image: url(../img/page1/cb_cat.png);
  background-position: 12% -5%;
  position: relative;
  top: -40px;
}
